.table-container{
  padding:20px;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  border:1px solid #ddd;
  padding:10px;
  text-align:left;
}

th{
  background-color:#04AA6D;
  color:white;
}

tr:nth-child(even){
  background-color:#f2f2f2;
}